<!--
  Launchers for Roch's 2d laser
-->
<launch>
    <!-- TODO: start the 3d camera here -->
    <!-- rather than having it started with the sensor.launch -->
    <include file="$(find roch_bringup)/launch/sensor.launch">
        <arg name="camera" value="camera" /> <!-- TODO: change to 'rgbd_sensor' (requires change in URDF) -->
    </include>
</launch>


